<p id="notice"><%= notice %></p>

<p>
  <strong>Building:</strong>
  <%= @unit.building.name %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @unit.bedrooms %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @unit.floor %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
